.b_gray {
    background-color: #f3f3f3;
}
.b_pink {
    background-color: #fa6e91;
}
.pink {
    color: #fa6e91;
}
.b_bright_y {
    background-color: #ffe700;
}
.bright_y {
    color: #ffe700;
}
.b_navy {
    background-color: #242d3c;
}
.navy {
    color: #242d3c;
}
